################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

#/QQMusicPlayer/.vs
/QQMusicPlayer/.vs/QQMusicPlayer
/.vs
/QQMusicPlayer/PlayerControl/obj/Debug
/QQMusicPlayer/QQMusicPlayer/obj/Debug
/QQMusicPlayer/packages
/QQMusicPlayer/PlayerControl/bin
/QQMusicPlayer/PlayerControl/obj/Release
/QQMusicPlayer/QQMusicPlayer/bin/Debug
/QQMusicPlayer/QQMusicPlayer/obj/Release
