################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/QQMusicPlayer/.vs/QQMusicPlayer/v16
/.vs
/QQMusicPlayer/PlayerControl/obj/Debug
/QQMusicPlayer/QQMusicPlayer/obj/Debug
